{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
    h1{
        font-family: cursive;
        color: red;
    }

@media only screen and (max-width: 768px) {
    .banner1{
      height:300px;
      width: 100%;
      font-size: 25px;
      
  }
  .banner2{
      font-size: 20px;
  }
  .banner3{
      height: 150px;
      width: 100%;
      
  }
  .banner4{
      height: 100px;
      width: 50%;
      margin-top:1px ;
  }
  .banner5{
      font-size: 10px;
  }
}

</style>
{% endblock %}
{% block myblock %}

    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 px-0 mt-5">
                <div class="carousel slide banner1" data-ride="carousel" id="myslider">
                    <ol class="carousel-indicators">
                        <li class="active" data-target="#myslider" data-slide-to="0"></li>
                        <li data-target="#myslider" data-slide-to="1"></li>
                        <li data-target="#myslider" data-slide-to="2"></li>
                        <li data-target="#myslider" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner banner1">
                        <div class="carousel-item active ">
                            <img src="{% static 'images/cone.jpg' %}" alt="" height="500px" width="100%">
                            <div class="carousel-caption">
                                <h2 class="caption banner1">Fresh And Delicious Food <br>For Your Health</h2>
                                <br><br>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/ctwo.jpg' %}" alt="" height="500px" width="100%">
                            <div class="carousel-caption">
                                <h2 class="caption banner1">Fresh And Delicious Food <br>For Your Health</h2>
                                <br><br>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/cthree.jpg' %}" alt="" height="500px" width="100%">
                            <div class="carousel-caption">
                                <h2 class="caption banner1">Fresh And Delicious Food <br>For Your Health</h2>
                                <br><br>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/cfour.jpg' %}" alt="" height="500px" width="100%">
                            <div class="carousel-caption">
                                <h2 class="caption banner1">Fresh And Delicious Food <br>For Your Health</h2>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- second slide -->
    <div class="container-fluid bg py-4">
        <div class="row">
            <div class="col-md-2">
                <img src="{% static 'images/1.png'%}" alt="" class="banner4">
            </div>
            <div class="col-md-4">
                <h3>Why is zayka called zayka?</h3>
                    <p class="p1">After endless debate over several cups of coffee, we came up with the name Zayka. We decided to keep the idea of food at the center and choose a name that is short, easy to remember and makes people think of food. Zayka's got a zing to it and is originally a play on the word 'Tomato'.</p>
                    <img src="{% static 'images/lm.svg'%}" alt=""><span class="salad banner5">Fresh Ingredients</span>
                    <img src="{% static 'images/tray.svg'%}" alt="" class="t1"><span class="tray banner5">Expert cooker</span>
            </div>
            <div class="col-md-2">
                <img src="{% static 'images/veg chili.png' %}" alt="" class="m2 banner3">
                
            </div>
            <div class="col-md-2">
                <img src="{% static 'images/veg burger.png' %}" alt="" class="m2 banner3">
            </div>
            <div class="col-md-2">
                <img src="{% static 'images/3.png' %}" alt="" class="banner4">
                
            </div>
            <div class="col-md-2">
                <img src="{% static 'images/2.png' %}" alt="" class="banner4">
            </div>
    
        </div>
    </div>
    
    <!-- menu -->
    <div class="container-fluid">
        <div class="row my-3">
            {% for c in category %}
            <div class="col-md-4 mb-3 box">
                <div style="box-shadow: 0px 0px 10px black;" class="box">
                    <a href="{% url 'all_products' %}?cat={{c.id}}">
                    <img src="/media/{{c.cover_pic}}" alt="" width="100%" height="200px">
                </a>
                    
                    <h2 style=" text-align:center;color: black;">{{c.cat_name}}</h2>
                    <hr>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    
    <!-- review -->
    <div class="container-fluid mt-2">
        <div class="row banner bg-light">
            <div class="col-md-12 text-center mt-2">
                <h1 style="margin-top: 50px;" class="alert alert-primary banner2">Our Customer Say</h1>
            </div>
            <div class="col-md-4 my-3" style="text-align: center;">
                <p class="review"> “Wow..What can I say for this restaurant.
                    Awsum in ambience,a nice theme like a jungle ..
                    Food ma mamia.<p>
                <img src="{% static 'images/akshay.jpg'%}" alt="" class="review2">
            </div>
            <div class="col-md-4 my-3" style="text-align: center;">
                <p class="review">“Wow..What can I say for this restaurant.
                    Awsum in ambience,a nice theme like a jungle ..
                    Food ma mamia.</p>
                <img src="{% static 'images/amitabh.jpg'%}" alt="" class="review2">
            </div>
            <div class="col-md-4 my-3" style="text-align: center;">
                <p class="review">“Wow..What can I say for this restaurant.
                    Awsum in ambience,a nice theme like a jungle ..
                    Food ma mamia.</p>
                <img src="{% static 'images/shahrukh.jpg'%}" alt="" class="review2">
                <hr>
            </div>
        </div>
    </div>
    <!-- gallery -->
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h1 class="alert alert-warning banner2">Photo Gallery</h1>
            </div>
            <div class="col-md-4 mb-3 p-2 m4">
                <img src="{% static 'images/g1.png'%}" alt="" width="100%" height="100%">
            </div>
            <div class="col-md-4 mb-3 p-2 m4">
                <img src="{% static 'images/g2.png'%}" alt="" width="100%" height="100%">
            </div>
            <div class="col-md-4 mb-3 p-2 m4">
                <img src="{% static 'images/g3.png'%}" alt="" width="100%" height="100%">
            </div>
            <div class="col-md-4 mb-3 p-2 m4">
                <img src="{% static 'images/g4.png'%}" alt="" width="100%" height="100%">
            </div>
            <div class="col-md-4 mb-3 p-2 m4">
                <img src="{% static 'images/g5.png'%}" alt="" width="100%" height="100%">
            </div>
            <div class="col-md-4 mb-3 p-2 m4">
                <img src="{% static 'images/g6.webp'%}" alt="" width="100%" height="100%">
            </div>
        </div>
    </div>


{% if status %}
<script>
    alert("{{status}}");
    window.location="/"
</script>
{% endif %}
{% endblock %}